#root {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./modern building background image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 49%;
  margin-top: 7rem;
  background: var(--main-bg-color);
  border-radius: 5px;
}
