.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding: 0 15px;
  border-bottom: 1px solid white;
  background: var(--main-bg-color);
}

.home-btn {
  color: white;
}
.home-btn:hover {
  color: white;
  opacity: 0.8;
}

.nav-bar-item {
  color: lightgray;
  opacity: 0.8;
  font-size: 14px;
}

.nav-bar-item:hover {
  color: white;
  opacity: 1;
  scale: 1.1;
}

.nav-bar-item p:after {
  display: block;
  content: " ";
  border-bottom: solid 1px white;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav-bar-item:hover p:after {
  transform: scaleX(1);
}
